@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;700&family=Raleway:wght@300;400;500;600;800&display=swap');


/* ----------------------------------------------- COLOURS */

.bg-color-name-title, .logo {
background-color: #eaf2d7;
}

.home-btn-bg-color {
/* background-color: #DEB05F; */
background-color: #B06175;
}

.about-btn-bg-color {
background-color: #A9FFCB;
}

.gallery-btn-bg-color {
background-color: #c0b298;
}

.contact-btn-bg-color {
background-color: #037171e0;
}

.footer-bg-color {
    background-color: #eaf2d7;
}

.modal-bg-color {
    background-color: #eaf2d7;
}

/* ----------------------------------------------- Special paddings/margins/text */

h1, h2 {
    margin-top: 0;
}

.pa-fix {
    padding: 0;
}

.pa-right {
    padding-right: 0;
}

.pa-left {
    padding-left: 1rem;
}

.uppercase {
    text-transform: uppercase;
}

.inline-block {
    display: inline-block;
}

.section-heading {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

.regular-font {
    font-family: 'Dosis', sans-serif;
    font-size: 1.25rem;
}

.regular-font a {
    text-decoration: none;
    color: #99666E;
    font-weight: 600;
}

.font-bold {
    font-weight: 500;
}

/* ----------------------------------------------- Heading */

header {
    margin: 0;
}

.logo {
    background-image: url("../images/logo.jpg");
    /* background-color: #F2D5BB; */
    background-position: center;
    /* background-position-y: center; */
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 22rem;
    /* transition: all 5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out; */ 
}

.name {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #0e0000;
    font-size: 2.8rem;
    margin-top: 3rem;
}

.title {
    font-family: 'Dosis', sans-serif;
    color: #99666E;
    font-weight: 700;
    font-size: 1.75rem;
    margin-top: 1.3rem;
    margin-bottom: 5.6rem;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
}

#nav {
    margin: 0;
}

#nav li {
    font-size: 0.875rem;
}

.menuitem {
    height: 7.5rem;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    height: 7.5rem;
    text-decoration: none;
    color: #000;
    font-weight: 600;
}

.menuitem a i {
    padding-top: 1.4rem;
    display: block;
    color: #000;
    font-size: 1.6rem;
}

.menuitem span {
    display: block;
    font-family: 'Raleway', sans-serif;
    width: 100%;
    padding-top: .3rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.875rem;
    font-weight: 600;
    letter-spacing: .15rem;
}

/* ----------------------------------------------- Home section */

.hr-styling {
    width: 10%;
    margin: 0 auto 1rem;
    color: #99666E;
    opacity: 1;
    border-radius: 5px;
}

/* fixing the height issue of the hr element */
hr:not([size]) {
    height: .3rem;
}

/* ----------------------------------------------- About me section */

.about-me-item {
    /* margin-bottom: 20px; */
    display: block;
    clear: both;
}

.about-me-item .key,
.about-me-item .value {
    display: inline-block;
    padding-right: .5rem;
}

.about-me-item .key {
    margin-right: 1.3rem;
}

.about-me-item .key {
    width: 30%;
    vertical-align: top;
}

.about-me-item .value {
    width: 60%;
    position: relative;
}

/* the solution for text breaking was found at https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/ */

.break {
    overflow-wrap: break-word;
    word-wrap: break-word;
}

/* Found the margin-left/right properties that helped center the img on https://www.w3schools.com/css/css3_images.asp */
.round-img {
    border-radius: 50%;
    display: block;
    /* margin-left: auto;
    margin-right: auto; */
}

@media (min-width: 375px) {
    .round-img {
    border-radius: 50%;
    display: inline-block;
    /* margin-left: auto;
    margin-right: auto; */
}
    .me {
        display: inline-block;
        margin-right: 1rem;
    }
}
/* ----------------------------------------------- Footer */

footer {
    min-height: 7.5rem;
    bottom: 0;
}

.footer-details {
    padding-top: 1.3rem;
}

.social-links {
    padding-bottom: 1rem;

}

.social-links li a i {
    width: 2rem;
    height: 2rem;
    padding: .75rem 0;
    border-radius: 50%;
    font-size: .9rem;
    line-height: .5rem;
    text-align: center;
    color: #fafafa;
    background: #B06175;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background-color: #037171e0;
}

/* ----------------------------------------------- Modal */

.submit-btn {
    color: #fff;
    background-color: #B06175;
    display: inline-block;
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.submit-btn:hover {
    color: #B06175;
    background-color: #fff;
    border: 1px solid #B06175;
}

.modal-header {
    border-bottom: 1px solid #B06175;
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #B06175;
    outline: 0;
    box-shadow: 0 0 0 0.15rem rgba(176, 97, 117, .9);
}


